* {
    padding: 0;
    margin: 0;
}
body{
}
.title{
    text-align: center;
    padding: 20px;
    margin: 10px auto;
}
p{
    margin: 15px 0;
    font-size: 20px;
}
.list-form{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0 auto;
    justify-content: center;
    background-color: #000;
    padding: 30px;
    opacity: 0.5;
    color: #fff;
}
.list-form label{
    padding: 10px 0;
    font-size: 20px;
}
.list-form input{
    padding: 10px 0;
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;

    
}
button{
    margin: 15px 0;
    padding: 15px;
}

