* {
    padding: 0;
    margin: 0;
    font-family: sans-serif;
}

html{
    scroll-behavior: smooth;
}
.section{
    padding: 80px 0;
    background-color: #303841;
}
.navbar {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #be3144;
    position: fixed;
    z-index: 100;
}   
.navbar .nav-items ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
}
.navbar .nav-items ul li a{
    display: flex;
    justify-content: space-around;
    margin: 0 25px;
    text-decoration: none;
    cursor: pointer;
    font-size: 24px;
    font-weight: bold;
    color: #fff;
}
.about {
    padding: 100px 0;
    background-color: #303841;
    color: #fff;
    text-align: center;
}
.about .name h2{
    color: #fff;
    font-size: 4rem;
}
.about .name span{
    font-size: 16px;
    color: #be3144;
    font-style: italic;
}
.work{
    display: flex;
    flex-direction: column;
    padding: 40px 0;
    background-color: #45567d; 
}
.work h2 {
    display: flex;
    justify-content: center;
    padding: 50px 0;
    text-align: center;
    text-decoration: underline;
    font-size: 2.5rem;
    color: #fff;
}
.work .content{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    padding: 10px 0;
}
.work .project{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lavender;
    margin-top: 20px;
}
.work .project a{
    text-decoration: none;
    color: #000;
}
.work .project img{
    height: 350px;
    max-width: 350px;
}
.work .project .title-project{
    text-align: center;
    background-color: #303841;
    padding: 10px 0;
    font-size: 24px;
    color: #fff;
}
.work .project .title-project .code{
    color: #303841;
    transition: color 0.3s ease-out;
}
.work .project:hover .code{
    color: #be3144;
}
.work .btn{
    display: inline-block;
    padding: 10px 10px;
    margin: 25px auto;
    font-size: 1.5rem;
    text-decoration: none;
    color: #fff;
    border-radius: 5px;
}
.work .btn-show-all {
    font-size: 2rem;
    background-color: rgb(78, 78, 78);
    transition: background-color 0.3s ease-out;
}
.work  .btn-show-all:hover {
    background-color: lightskyblue;
}

.work  .btn-show-all:hover > i {
    transform: translateX(2px);
}
.work  .btn-show-all > i {
    margin-left: 5px;
    transform: translateX(0);
    transition: transform 0.3s ease-out;
}
.contact .try{
    text-align: center;
}
.contact .try h2{
    font-size: 3rem;
    margin: 10px 0;
    color: #fff;
}
.contact .try p{
    font-style: italic;
    font-size: 1.5rem;
    color: #fff;
}
.contact .company{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 50px 0;
}
@media (max-width: 860px){
    .contact .company .identity{
        margin: 15px 25px;
        display: inline-block;
    }
}
.contact .company .identity{
    transition: transform 0.ss ease-out;
    transform: translateY(0px);
}
.contact .company .identity:hover{
    transform: translateY(3px);
    margin-top: 8px;
}
.contact .company .identity a{
    display: flex;
    color: #fff;
    text-decoration: none;
    font-style: normal;
    font-size: 1.8rem;
}
.contact .company .identity a i{
    margin: 0 10px;
}

footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0;
    border-top: #be3144 5px solid;
    background-color: #303841;
    color: #fff;
}
footer a{
    text-decoration: none;
    color: #fff;
}
