*{
    padding: 0;   
    margin: 0;
    box-sizing: border-box;
}
.container{
    position: relative;
}
.navigasi{
    position: fixed;
    top: 0;
    width: 100%;
    min-height: 75px;
    display: flex;
    margin-bottom: 80px;
    justify-content: space-around;
    align-items: center;
    background-color: #fff;
    z-index: 1;
}
.logo{
    width: 60vw;
}
#img-logo{
    width: 100%;
    height: 100%;
    max-width: 300px;
}
.option-link ul {
    display: flex;
    justify-content: space-between;
}
.option-link li{
    font-size: 15px;
    margin:  0 10px;
    list-style: none;
    text-decoration: none;
}
.option-link a{
    text-decoration: none;
    color: #000;
    margin: 0 10px;
    font-family: monospace;
}
@media (max-width:460px){
    .navigasi{
        flex-direction: column;
    }
    .option-link ul{
        flex-direction: column;
    }
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 200px;
    margin: 75px 0;
}
.form h1{
    font-size: 2rem;
    font-style: italic;
    margin: 10px 0;
    text-align: center;
}
.form input{
    margin: 10px 0;
    padding: 10px 0;
}
.form button{
    margin: 10px 0;
    padding: 10px 30px;
    background-color: #dfc864;
}
.main{
    display: flex;
    flex-direction: column;
    max-width: auto;
}
.item{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
    font-family: sans-serif;
    max-width: auto;
    position: relative;
}
.item .icon {
    margin: 0 100px;
}
@media (max-width: 650px){
    .item .icon{
        margin: 0 30px;
    }
}
.item .icon i{
    color: orange;
}
.video{
    display: flex;
    width: 100%;
    height: 450px;
    margin: 30px 0;
    justify-content: center;
}
.video iframe{
    max-width: 600px;
}
.cards{
    display: flex;
    max-width: 100%;
    justify-content: space-around;
}
@media (max-width:860px){
    .cards{
        display: flex;
        flex-direction: column;
    }
    .cards {
        align-items: center;
    }
}
.card{
    border: 1px solid black;
    text-align: center;
    font-family: sans-serif;
    margin: 30px 0;
}
.card .card-title{
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    padding: 20px 10px;
    background-color: #eee;
}
.card .pricing{
    font-size: 24px;
    font-weight: 500;
    font-weight: bold;
    margin: 20px 0;
}
.card .desc{
    line-height: 1.9;
}
.card .card-button button{
    width: 100px;
    height: 40px;
    background-color: burlywood;
    cursor: pointer;
    margin: 30px 0 15px 0 ;
}
footer{
    background-color: #eee;
    margin: 0 50px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
}
footer .text{
    flex-direction: column;
    line-height: 1.9;
}
footer ul{
    display: flex;
}
footer ul li{
    margin: 0 20px;
    list-style: none;
    text-decoration: none;
}
footer ul li a {
    list-style: none;
    text-decoration: none;
    color: black;
}
footer .text p{
    color: rgb(153, 153, 153);
}
