* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}
.container{
    display: flex;
}
.nav{
    position: fixed;
    text-align: center;
    height: 100%;
}
.nav h2{
    padding: 10px 0;
    text-transform:capitalize;
    font-weight: bold;
    font-size: 24px;
    margin-bottom: 10px;
}
.nav ul {
    height: 90%;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
}
.nav ul li{
    display: flex;
    justify-content: center;
    padding: 15px 0;
    border-top: 1px solid;
    background-color: #eee;
}
.nav ul li a{
    text-decoration: none;
    color: #000;
}
.desc{
    width: 80%;
    position: absolute;
    margin-left: 225px;
}

.desc .desc-area{
    padding: 15px;
    line-height: 1.6;
}
.desc .desc-area code{
    display: block;
    text-align: left;
    white-space: pre-line;
    position: relative;
    word-break: normal;
    word-wrap: normal;
    line-height: 2;
    background-color: #f7f7f7;
    padding: 1px;
    margin: 10px;
    border-radius: 5px;
}
.desc .desc-area article{
    color: #4d4e53;
    margin: 5px;
    font-size: 0.96em;
}
.desc .desc-area h2{
    padding: 10px 0;
}
.desc .desc-area ul{
    margin-left: 50px;
}
@media (max-width:640px){
    .container{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .nav{
        position: relative;
        display: flex;
        flex-direction: column;
        height: 400px;
    }
    .desc{
        position: relative;
        margin: 0 auto;
        justify-content: center;
    }
}

