* {
    padding: 0;
    margin: 0;
}
body{
    font-family: sans-serif;
    overflow-x: hidden;
}
nav{
    display: flex;
    justify-content: space-around;
    height: 50px;
    background-color: rgb(180, 180, 255);
    align-items: center;
}
nav ul{
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}
nav ul li a {
    text-decoration: none;
    color: black;
    font-size: 0.9em;
}
nav ul li a:hover{
    color: #fff;
}

/* MENU HUMBURGER */
.menu-toggle{
    display: none;
    flex-direction: column;
    height: 15px;
    justify-content: space-between;
    position: relative;
}

.menu-toggle input{
    position: absolute;
    width: 28px;
    height: 28px;
    border: none;
    top: -5px;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}
.menu-toggle span {
    display: block;
    background-color: rgb(255, 255, 255);
    width: 28px;
    height: 3px;
    transition: all 0.5s;
}

/* HUMBURGER MENU ANIMATION */
.menu-toggle span:nth-child(2){
    transform-origin: 0 0;
}
.menu-toggle span:nth-child(4){
    transform-origin: 0 100%;
}
.menu-toggle input:checked ~ span:nth-child(2){
    background-color: #fff;
    transform: rotate(45deg) translate(-3px, -3px);
}
.menu-toggle input:checked ~ span:nth-child(4){
    background-color: #fff;
    transform: rotate(-45deg) translate(-3px, 0);
}
.menu-toggle input:checked ~ span:nth-child(3){
    opacity: 0;
    transform: scale(0);
}


/* TABLET */
@media screen and (max-width: 768px){
    nav ul {
        width: 50%;
    }   
}

/* MOBILE */
@media screen and (max-width: 576px){
    .menu-toggle {
        display: flex;
    }
    nav ul {
        position: absolute;
        /* display: none; */
        right: 0;
        top: 0;
        width: 100%;
        height: 100vh;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        background-color: rgb(180, 180, 255);
        z-index: -1;
        transform: translateX(100%);
        transition: all 1s;
        opacity: 0;
    }
    nav ul.slide {
        transform: translateX(0);
    }   
}
