body {
    padding: 0;
    margin: 0;
    background: #4facfe;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.container {
    background: #686868;
    margin: 50px auto;
    padding: 20px;
    box-sizing: border-box;
}
.main__first {
    flex: 3;
    order: 2;
}
.main__second {
    flex: 1;
    order: 1;
}
.main__third {
    flex: 1;
    order: 3;
}
@media (min-width:600px){
    .container{
        display: flex;
    }
}

.container-dua {
    max-width: 800px;
    margin: 50px auto;
}
.layanan {
    padding: 20px;
    box-sizing: border-box;
    margin: 20px;
}
.layanan.satu {
    background-color: #ff9d9d;
}
.layanan.dua {
    background-color: #93cdff;
}
.layanan.tiga{
    background-color: #e5ff86;
}

.container-tiga{
    max-width: 900px;
    flex-wrap: wrap;
    margin: 10px auto;
    display: flex;
    justify-content: center;
}
.thumbnail {
    box-sizing: border-box;
    margin: 10px;
}
.thumbnail img{
    width: 200px;
    height: 200px;
}
/* responsive */
@media (min-width: 600px) {
    .container-dua {
        display: flex;
        justify-content: space-between;
    }
    .layanan{
        width: 30%;
    }
    .container-empat{
        display: flex;
        justify-content: center;
    }
}

.container-empat{
    max-width: 800px;
    margin: 50px auto;
    
}
.card{
    border: 1px soid #aaa;
    border-radius: 10px;
    background-color: #eee;
    overflow: hidden;
    margin: 10px;

}
.card .head-card {
    height: 150px;
    background-color: #666;
} 
.card .desc-card {
    text-align: center;
    padding-bottom: 20px;
}