@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');
html{
    min-height: 100%;
    scroll-behavior: smooth;
}
* {
    padding: 0;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    box-sizing: content-box;
    --main-font: 'Montserrat', sans-serif;
    --main-color: #fb8500;
}
body{
    font-family: var(--main-font);
    font-size: 1rem;
    overflow-x: hidden;
}
.section{
    padding: 50px 0;
}

nav {
    background-color: #fff;
    align-items: center;
}
nav .image img{
    max-width: 300px;
    width: 200px;
    margin: 0 25px;
}
nav .items{
    display: flex;
    justify-content: space-between;
}
nav .items ul li{
    margin: 0px 30px;
}
nav .items ul li a{
    color: #03045e;
    font-weight: 700;
    font-size: 1rem;
}
nav .items .switch-language{
    margin-left: 20px;
}
nav .items .login-button{
    margin: 0 20px;
}
nav .items .login-button button{
    margin: 0 5px;
}
.main {
    width: 100vw; 
    min-height: 100vh;
    background-image: url("img/index.png");
    background-size: cover;
    max-width: 100%;
    overflow-x: hidden;
}
.main .content{
    display: flex;
    justify-content: flex-end;
    font-weight: 700;
    font-size: 2.5rem;
    color: #03045e;
    align-items: center;
    margin-right: 100px;
}
.main .content .text{
    display: flex;
    flex-direction: column;
    flex-flow: column wrap;
    margin-top: 250px;
    align-items: flex-start;
}
.main .content .text p span{
    color: #fb8500;
}
.main .content .text button{
    background-color: #f18407;
    border: 0px;
    border-radius: 10px;
    padding: 15px 15px;
}
.main .content .text button:hover{
    background-color: #ffa339;
}
.reason h2{
    text-align: center;
    font-family: var(--main-font);
    font-weight: 700;
}
.reason h2 span{
    color: var(--main-color);
    font-weight: 700;
}
.reason .section-card{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}
.reason .section-card .card{
    padding: 20px 15px;
    font-family: var(--main-font);
    border-radius: 15px;
    box-shadow: 0px 4px 20px rgb(207, 207, 207);
    margin-top: 30px;
    display: flex;
    flex-direction: column;
}
.reason .section-card .card img{
    width: 200px;
    height: 200px;
    margin: 0 auto;   
}
.reason .section-card .card .card-body{
    text-align: center;
    margin-top: -20px;
}
.reason .section-card .card .card-body h4{
    font-family: var(--main-font);
    font-weight: bold;
}
.flow .content{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin: 100px 0;
}
.flow h2{
    text-align: center;
    font-family: var(--main-font);
    font-weight: 700;
    margin-bottom: 100px;
}
.flow h2 span{
    color: var(--main-color);
    font-weight: 700;
}
.flow img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
}
.flow .number{
    display: block;
    align-content: center;
}
.flow .number .circle{
    border-radius: 50%;
    width: 34px;
    height: 34px;
    padding: 20px;
    border: 3px solid #fb8500 ;
    background-color: #fb8500;
    text-align: center;
    color: #fff;
    /* margin-left: auto;
    margin-right: auto; */
    margin: auto;
}
.flow .number .circle p{
    font-size: 1.5rem;
    font-weight: bold   ;
}
.flow .content .text{
    margin: 0 20px;
    font-weight: 500;
    font-size: 1.5rem;
}
.flow .content .text p span{
    color: var(--main-color);
    
}
.testimoni{
    width: 100vw; 
    min-height: 50vh;
    background-image: url("img/home-students-backdrop.svg");
    background-size: cover;
    max-width: 100%;
}
.testimoni .testi {

}
.testimoni .testi .satu{
    margin-top: auto;
    margin-bottom: auto;
    padding: 75px 0;
}
.testimoni .testi .satu .dua .pict{
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;    
    text-align: center;
}
.testimoni .testi .satu .dua .pict img{
    width: 242px;
    height: 100%;
    margin-left: -12px;
    border-radius: 100%;
}
.testimoni .testi .satu .dua .text{
    padding: 50px;
    display: flex;
    flex-direction: column;
    font-family: var(--main-font);
    font-weight: 600;
}
.testimoni .testi .satu .dua .text span{
    margin: 8px 0;
}
.testimoni .testi .carousel-control-prev .carousel-control-prev-icon{
    background-color: var(--main-color);
}
.testimoni .testi .carousel-control-next .carousel-control-next-icon{
    background-color: var(--main-color);
}
.question h2{
    text-align: center;
    font-family: var(--main-font);
    font-weight: 700;
    margin-bottom: 50px;
}
.question h2 span{
    color: var(--main-color);
    font-weight: 700;
}
.question .content .card {
    border: none;
}
.question .content .card .card-header{
    border: none;
    border-top: 1px solid rgb(141, 141, 141);
    background-color: #fff;
    display: flex;
    justify-content: space-between;
}
