* {
    margin: 0;
    padding: 0;
}

.container {
    background: #eee;
    border-radius: 5;
    margin: 10px;
    padding: 50px 0;
}

.container .title{
    text-align: center;
    padding: 20px;
}
.container .title h1 {
    font-size: 3rem;
    padding-bottom: 2rem;
}
.container .title h3{
    font-size: 1.5rem;
    font-weight: normal;
}
.container .img-content{
    background-color: #fff;
    text-align: center;
    border-radius: 10px;
    margin: 20px;
} 
.container .img-content img{
    max-width: 100%;
    display: block;
    height: auto;
    margin: 0 auto;
}
.container .img-content p{
    padding: 30px 0;
    font-size: 16px;
}
.container .list-content h3{
    margin: 20px 0;
    text-align: center;
}
.container .list-content ul{
    max-width: 550px;
    margin: 0 auto 50px auto;
    text-align: left;
    line-height: 1.6;
    
}
.container .list-content ul li {
    margin: 16px 0;
}
.container .footer .quote{
    max-width: 550px;
    margin: 10px auto 10px auto;
    text-align: left;
    font-style: italic;
    line-height: 1.5;
}

.container .footer .link{
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
    margin: 50px 0;
}
@media (max-width: 460px){
    .container .title h1{
        font-size: 2rem;
    }
    .container .title h3{
        font-size: 1rem;
    }
    .list-content li p{
        font-size: 15px;
    } 
}
